server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      httpclient:
        wiretap: true
        pool:
          maxConnections: 500
      loadbalancer:
        use404: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      global:
        corsConfigurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      server:
        webflux:
          routes:
            - id: order-service
              uri: http://order-service:8081
              predicates: [ Path=/api/orders/** ]
              filters:
                - RewritePath=/api/orders/?(?<segment>.*), /${segment}

            - id: billing-and-payments-service-billing
              uri: http://billing-and-payments-service:8082
              predicates:
                - Path=/api/billing/**
              filters:
                - RewritePath=/api/billing/?(?<segment>.*), /${segment}

            - id: billing-and-payments-service-payments
              uri: http://billing-and-payments-service:8082
              predicates:
                - Path=/api/payments/**
              filters:
                - RewritePath=/api/payments/?(?<segment>.*), /${segment}

            - id: customer-service
              uri: http://customer-service:8083
              predicates:
                - Path=/api/customers/**
              filters:
                - RewritePath=/api/(customers)/?(?<segment>.*), /${segment}

            - id: delivery-service
              uri: http://delivery-service:8084
              predicates: [ Path=/api/delivery/** ]
              filters:
                - RewritePath=/api/delivery/?(?<segment>.*), /${segment}

            - id: inventory-service
              uri: http://inventory-service:8085
              predicates: [ Path=/api/inventory/** ]
              filters:
                - RewritePath=/api/inventory/?(?<segment>.*), /${segment}

            - id: kitchen-service
              uri: http://kitchen-service:8086
              predicates: [ Path=/api/kitchen/** ]
              filters:
                - RewritePath=/api/kitchen/?(?<segment>.*), /${segment}

            - id: report-service
              uri: http://report-service:8087
              predicates: [ Path=/api/reports/** ]
              filters:
                - RewritePath=/api/reports/?(?<segment>.*), /${segment}

            - id: supplier-service
              uri: http://supplier-service:8088
              predicates:
                - Path=/api/suppliers/**
              filters:
                - RewritePath=/api/(suppliers)/?(?<segment>.*), /${segment}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG
